<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="icon.ico">
    <link rel="stylesheet" href="/css/settstyles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source Code Pro' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
</head>
<body style="background-color: #0C3A2D;">
    <div id="header" class="width100 mp0 autocenter greenbg">
        <div id="logodiv" class="mp0 autocenter">
            <a href=""><img class="width100" id="logo" src="/css/assets/logo4.png"></a>
        </div>
        <div class="searchbarcontainer autocenter">
        </div>
        <div id="headerbuttons" class="mp0">
        </div>
    </div>
    <div id="body">
        <div id="leftpane">
            <div id="dp" style="line-height: 30px;">
                <div id="about-packages">
                    NPM Packages used in the project: <br>
                    "bcrypt": "^5.1.1", <br>
                    "cloudinary": "^2.1.0", <br>
                    "connect-mongodb-session": "^2.2.0", <br>
                    "dotenv": "^16.4.5", <br>
                    "ejs": "^3.1.9", <br>
                    "express": "^4.18.3", <br>
                    "express-ejs-layouts": "^2.5.1", <br>
                    "express-session": "^1.18.0", <br>
                    "express-validator": "^7.0.1", <br>
                    "method-override": "^3.0.0", <br>
                    "mongoose": "^8.2.1", <br>
                    "multer": "^1.4.5-lts.1", <br>
                    "nodemon": "^3.1.0"
                </div>
            </div>
        </div>
        <div id="rightpane">
            <div id="about-description">    
                Welcome to Notebook, your go-to destination for all things
                music-related! At Notebook, we've created a vibrant online
                community where music enthusiasts from around the world can
                connect, share, and discover the melodies that resonate with
                their souls. Whether you're a seasoned musician, an aspiring
                artist, or simply someone who appreciates the beauty of sound,
                Notebook offers a platform for you to engage in meaningful
                discussions, exchange insights, and explore musical genres.
                Dive into our forums to discuss the latest albums, delve into
                the history of iconic bands, or seek advice on mastering your
                instrument. With Notebook, the symphony of music is at your
                fingertips, waiting to be explored and celebrated. Join us on
                this melodious journey and let's create harmony together on Notebook.
            </div>
        </div>
</body>
</html>