<!DOCTYPE html>

<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/header.css" type="text/css">
        <link rel="stylesheet" href="/css/register_styles.css" type="text/css">
        <link rel="stylesheet" href="/css/login_styles.css" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>

    <body>
        <form class="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
            <div class="basic-info shadow">
                <h2>register</h2>
                <div class="info">
                    <p class="label">last name:*</p>
                    <input type="text" class="text" name="lastname" placeholder="Dela Cruz">
                </div>
                <div class="info">
                    <p class="label" >first name:*</p>
                    <input type="text" class="text" name="firstname" placeholder="Juan">
                </div>
                <div class="info">
                    <p class="label" >email address:*</p>
                    <input type="text" class="text" name="email" placeholder="dcjuan@mail.com">
                </div>
                <div class="info">
                    <p class="label" >mobile number:</p>
                    <input type="text" class="text" name="mobilenumber" placeholder="09xxxxxxxxx">
                </div>
                <div class="info">
                    <p class="label" >password:*</p>
                    <input type="text" class="text" name="password" placeholder="Enter password">
                </div>
                <div class="info">
                    <p class="label" >confirm password:*</p>
                    <input type="text" class="text" name="confirmpassword" placeholder="Repeat password">
                </div>
                
            </div>
            <div class="user-bio shadow">
                <div class="ub-info">
                        <div class="info">
                        <p class="label" >username:*</p>
                        <input type="text" class="text" name="username" placeholder="Ex. @test">
                    </div>
                    <div class="bio">
                        <p class="bio-label" >bio:
                        <span class="todo">20 char limit.</span></p>
                        <textarea class="text-bio" name="bio" placeholder="Write something..."></textarea>
                    </div>
                    <div id="upload-dp">
                        <h3>Upload Profile Picture</h3>
                        <input type="file" name="image" id="fileInput">
                    </div>
                </div>
                
                <input type="submit" value="register" id="register">
            
            </div>
        </form>
    </body>
</html>